$block: '.b-about';

#{$block} {
    &__header {
        height: rem(260);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .b-cover {
            background-position: center;
            background-repeat: repeat;

            &__mask {
                background-color: rgba(color(black), 0.5)
            }

            &__body {
                position: relative;
            }
        }
    }

    &__title {
        color: color(white);
        margin: rem(size(space)/2);
        text-align: center;
    }

    &__nav {
        background-color: color(white-blue);
        border-bottom: 1px solid color(neutral);

        .b-nav {
            &__list {
                margin: 0 auto;
                max-width: rem(960);
                justify-content: stretch;
            }

            &__item {
                border-right: 1px solid color(neutral);
                flex: 1;

                &:last-child {
                    border-right: none;

                    .is-active {
                        border-right: 1px solid color(neutral);
                    }
                }

                &:first-child .is-active {
                    border-left: 1px solid color(neutral);
                }
            }

            &__link {
                justify-content: center;
                text-align: center;
                white-space: nowrap;

                &.is-active {
                    background-color: color(white);
                    position: relative;
                    top: 1px;
                }
            }
        }

        .b-selector.is-open {
            .b-selector {
                &__toggler {
                    background-color: color(white);
                    border-right: 1px solid color(neutral);
                    position: relative;
                    right: -1px;
                    top: 1px;
                    z-index: 101;
                }

                &__menu {
                    margin-top: rem(60);
                }

                &__link {
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }

    &__body {
        font-family: font(text);
        max-width: rem(1000);
    }

    &__text {
        p > code, li > code, table tr td > code {
            background-color: color(green);
            color: color(white);
            font-style: normal;
            font-weight: 400;
            padding-left: rem(5);
            padding-right: rem(5);
            font-size: rem(12);
        }

        p, td, li {
            font-weight: 300;
        }

        p {
            font-size: rem(15);
            line-height: rem(26);
            margin-bottom: rem(size(space)*2);
            margin-top: 0;
        }

        h2 {
            margin-bottom: rem(size(space)*2);
            margin-top: 0;
        }

        a {
            color: color(blue);
            border-bottom: 1px solid;

            &:hover {
                color: color(black);
            }
        }
    }

    &__cols {
        display: flex;
        margin-top: rem(size(space)*4);
        margin-bottom: rem(size(space)*4);

        #{$block}__text {
            display: flex;
            flex-direction: column;
        }
    }

    &__illus {
        padding-right: rem(size(space)*4);

        li {
            margin: rem(10) 0 rem(30);
        }
    }

    &__statimg {
        background-color: color(green);
        box-sizing: border-box;
        color: color(white);
        display: block;
        height: rem(250);
        width: rem(250);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: rem(size(space)*2);

        h3 {
            font-family: font(alt);
            font-size: rem(42);
            font-weight: 400;
            margin: 0;
        }

        p {
            font-size: rem(12);
            margin: 0;
            text-transform: uppercase;
        }
    }

    &__social {
        .b-list {
            justify-content: center;

            &__item {
                margin: rem(size(space));
            }
        }

        .b-icon {
            font-size: rem(80);
            transition: transform time(fast);

            &:hover {
                transform: rotate(-5deg);
            }

            &:active {
                transform: rotate(10deg);
            }
        }
    }

    @media (max-width: size(screen, tablet)) {
        &__header {
            height: rem(200);
        }

        &__text h2, &__title {
            font-size: rem(28);
        }

        &__nav {
            overflow-y: auto;
            position: relative;
        }

        .b-selector.is-open {
            position: fixed;
            top: rem(59);
            left: 0;
            width: 100%;
            z-index: 1;

            .b-selector__toggler {
                border-right: 0;
                right: 0;
            }
        }
    }

    @media (max-width: size(screen, phablet)) {
        &__header {
            height: rem(140);
        }

        &__body {
            margin: rem(size(space)*2) 0;
        }

        &__cols {
            flex-direction: column;
            margin: rem(size(space)) 0;
        }

        &__illus {
            margin-bottom: rem(size(space)*2);
            padding-right: 0;
            overflow-y: auto;

            ul {
                display: flex;
                justify-content: space-between;
            }

            img {
                transform: scaleX(-1);
            }

            li {
                flex-basis: 50%;
                margin: 0;
                order: 2;

                &:nth-child(even) {
                    display: none;
                }

                &:nth-child(3) {
                    flex: 0;
                    order: 1;
                }
            }
        }

        &__text h2, &__title {
            font-size: rem(20);
        }

        &__social {
            .b-icon {
                font-size: rem(40);
            }
        }
    }

    @media (max-width: size(screen, phone)) {
        &__header {
            height: rem(100);
        }

        &__statimg {
            width: 100%;
        }
    }
}
